<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
         .inner {
            max-width: 1200px;
            margin: 0 auto;
            color: #333;
          }

      .scboard_tb{
          text-align: center; width:1000px; height:500px;
          background-color: #fff7ed;
          }

      
      .scboard_tb tr{                    
          border-bottom: 1px solid #7f0000;                    
      }     
      .scboard_tb tr>td{
        padding:10px;
      }
      .innerMain{
        width:80%;
        height:100%;
      }
        #pagingArea{width:fit-content;margin:auto;}

        #searchForm{    
            width:fit-content;        
            margin:auto;
        }
        #searchForm>*{
            float:left;
            margin:5px;
        }
    </style>
</head>
<body>
    <div class="inner" align="center">
     

        <div class="nametag">
        <h1>1:1 문의</h1>
        </div>
        <br><br>
        <div class="innerMain">
            <table class="scboard_tb">
                <tr>
                    <th style="width:60px">글번호</th>
                    <th style="width:80px">카테고리</th>
                    <th style="width:400px">제목</th>
                    <th style="width:50px">작성자</th>
                    <th style="width:100px">답변상태</th>
                    <th style="width:100px">작성날짜</th>
                </tr>
                <tr>
                    <td>37</td>
                    <td>리워드</td>
                    <td>리워드로 선택한 상품이 잘못왔어요</td>
                    <td>김태연</td>
                    <td style="color:red;">처리중</td>
                    <td>11.25</td>                    
                </tr>
                <tr>
                    <td>36</td>
                    <td>프로젝트</td>
                    <td>신청한 프로젝트가 처리중으로 한달째네요</td>
                    <td>이승기</td>
                    <td style="color:red">처리중</td>
                    <td>11.21</td>                    
                </tr>              
                <tr>
                    <td>35</td>
                    <td>기타</td>
                    <td>비밀번호 변경은 어떻게하나요?</td>
                    <td>이건</td>
                    <td style="color:blue">처리완료</td>
                    <td>11.19</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
                <tr>
                    <td>99</td>
                    <td>기타</td>
                    <td>test</td>
                    <td>tester</td>
                    <td>none</td>
                    <td>sysdate</td>                    
                </tr>
            </table>
            <br>
            <div class="clbtn" style="width:800px;" align="right">            
            <button class="btn btn-secondary">문의작성</button>            
            </div>
        </div>
        <br><br>
        <div id="pagingArea" align="center">
            <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
       <br>
        
        

        <form id="searchForm" action="" method="Get" align="center">
            <div class="select">
                <select class="custom-select" name="condition">
                    <option value="writer">작성자</option>
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                </select>
            </div>
            <div class="text">
                <input type="text" class="form-control" name="keyword">
            </div>
            <button type="submit" class="searchBtn btn btn-secondary">검색</button>
        </form>        
    </div>
    <br><br>
</body>
</html>