<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
    <style>
        .inner {
            max-width: 1200px;
            margin: 0 auto;
            color: #333;
          }
        
        .innerMain{
            width:1000px;            
        }
        .write-area{
            padding:50px;
            background-color: #fff7ed;
        }
        .nwTable{
            margin:auto;
        }
    </style>
</head>
<body>
    <div class="inner">
        <div class=innerMain>
            <div class="nametag">
                <h1>공지사항 작성</h1>
            </div>
            <div class="write-area">
                <form name="enrollForm" action="" method="">
                    <table class="nwTable">
                        <tr>
                            <th>제목</th>
                            <td><input type="text" name="" id="" required placeholder="제목을 입력해주세요" style="width:650px;"></td>
                            
                        </tr>                   
                        <tr>
                            <td>
                                <td></td>
                                <td></td>                            
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <textarea cols="90" rows="30"></textarea>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <div class="btnarea" align="center">
                        <button type="submit" class="btn btn-secondary">등록하기</button>
                        <button type="reset" class="btn btn-danger">취소하기</button>
                    </div>

                </form>
            </div>
        </div>


    </div>
</body>
</html>