<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../resources/css/projectInsertFrom.css"></link>
    <title>Document</title>
</head>
<body>
    <div id="firstlayer_outer">
            <a name="totheTop"></a>
        <form action="" id="insertConroller">
            
            <div id="button_wrapper">
                <button class="btn btn-primary btn1"><i class="far fa-eye"></i>&nbsp;&nbsp;미리보기</button>
                <button class="btn btn-primary btn2"><i class="far fa-save"></i>&nbsp;&nbsp;임시저장</button>
                <button class="btn btn-primary btn3"><i class="fas fa-upload"></i>&nbsp;&nbsp;불러오기</button>
                <button class="btn btn-primary btn4"><i class="fas fa-handshake"></i>&nbsp;&nbsp;승인요청하기</button>
            </div>

            <div id="secondlayer_outer">

                <div class="bar upper handler1" id="first_bar">스토리</div>
                <div id="story_wrapper">
                    <div class="title_area">
                        <div class="title-font">스토리</div>
                        <div class="subtitle-font">주요 정보가 담길 멋진 스토리를 담아주세요!</div>
                        <hr class="title_divider">
                    </div>

                    <div class="article_wrapper">
                    <div class="leftarticle_wrapper">
                        <table>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title">프로젝트 성공 조건</div>
                                    <div class="input_explanation">
                                        프로젝트 성공 조건을 <br> 선택해 주십시오. <br>      
                                    </div>
                                </td>
                                <td class="userInputarea">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                          <input type="radio" name="options" value="Y" id="pro_condition1"> 100% 이상
                                        </label>
                                        <label class="btn btn-secondary">
                                          <input type="radio" name="options" value="N" id="pro_condition2"> 조건 없음
                                        </label>
                                      </div>
                                </td>
                                </div>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title">카테고리</div>
                                    <div class="input_explanation">
                                        프로젝트 카테고리를
                                        넣어주세요<br></div>
                                </td>
                                <td class="userInputarea">
                                    <div class="form-group">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option checked="true">유아 도서</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>
                            <tr>
                                <td class="explanation_wrapper">
                                    <div class="inputList_title"></div>
                                    <div class="input_explanation"></div>
                                </td>
                                <td class="userInputarea"></td>
                            </tr>          
                        </table>
                    </div>

                    <div class="remote_fixedwrapper remote1">

                    <div class="remoteController">
                       <a href="#totheTop"><i class="fas fa-angle-up"></i></a>
                       <div class="remote_icon">
                           <i class="far fa-eye"></i>
                           <i class="far fa-save"></i>
                           <i class="fas fa-upload"></i>
                           <i class="fas fa-handshake"></i>
                      </div>
                      <div class="remote_btn remobtn1">스토리</div>
                      <div class="remote_btn remobtn2">리워드</div>
                      <div class="remote_btn remobtn3">안내사항</div>
                      <div class="remote_btn remobtn4">제작자/부가정보</div>
                      </div>
                    </div>  
                    </div>
                </div>
                <div class="bar upper handler2" id="second_bar">리워드</div>
                
                <div class="bar upper handler3" id="third_bar">안내사항</div>

                <div class="bar upper handler4" id="forth_bar">제작자/부가정보</div>

            </div>
        </form>
    </div>

    <script>
        $("#first_bar").click(function(){
            let $remote1 = $(".remote1")

            $remote1.hide('fast');
            $("#story_wrapper").slideToggle('slow',function(){
                    if($remote1.css('display')=="none"){
                        setInterval(function(){
                            $remote1.css({"display":"block"});
                        },1500);
                    }
            });

        })
    </script>

</body>

</html>