<!DOCTYPE html>
<html lang="en">
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    
    <link rel="stylesheet" href="../../../resources/css/common.css" />


    <link rel="stylesheet" href="../../../resources/css/mypage/mypageindex.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  
  


 

    <style>
    



   
</style>

<!--세부메뉴 스크립트-->
<script>
  $(document).ready(function(){
$(".link").addClass("color");
//   첫번째
$(".menu--item__one").click(function(){
   $(".bottom__line").addClass("bottom__active");
   $(".link").addClass("color");
   $(".link1").removeClass("color1");
   $(".link2").removeClass("color2");
   $(".bottom__line").removeClass("bottom__active1 bottom__active2");
});

//  두번째
$(".menu--item__two").click(function(){
    $(".bottom__line").addClass("bottom__active1");
    $(".link1").addClass("color1");
    $(".link").removeClass("color");
    $(".link2").removeClass("color2");
    $(".bottom__line").removeClass("bottom__active bottom__active2");
});

// 세번째
 $(".menu--item__three").click(function(){
      $(".bottom__line").addClass("bottom__active2");
      $(".link2").addClass("color2");
      $(".link").removeClass("color");
      $(".link1").removeClass("color1");
      $(".bottom__line").removeClass("bottom__active bottom__active1");
});
});
</script>



  

  </head>
  <body>
    <header>
      <div class="inner">
        <div class="header__left">
          <a class="logo" href="">
            <img src="C:/DreamFunding-FrontRepo/webapp/resources/images/mainlogo.png" alt="" />
          </a>
          <ul class="header__nav">
            <li><a href="#">펀딩하기</a></li>
            <li><a href="#">마이페이지</a></li>
            <li><a href="#">고객센터</a></li>
          </ul>
          <button class="btn btn--main"><a href="#">프로젝트 만들기</a></button>
        </div>

        <!-- 로그인 전 출력 영역 -->
        <div class="header__right">
          <div class="search__box">
            <input type="text" class="search-bar" placeholder="프로젝트 검색" />
            <span class="material-icons"> search </span>
          </div>
          <a href="#" class="sign__group">로그인</a>
          <a href="#" class="sign__group">회원가입</a>
        </div>

        <!-- 로그인 시 출력 영역 -->
        <!-- <div class="header__right">
          <div class="search__box">
            <input type="text" class="search-bar" placeholder="프로젝트 검색" />
            <span class="material-icons"> search </span>
          </div>

          <i class="header__icon"
            ><span class="material-icons"> notifications </span></i
          >
          <i class="header__icon"
            ><span class="material-icons"> account_circle </span></i
          >
        </div> -->
      </div>
    </header>

    <br>
    <div class="wrap1">
       <!--설정아이콘-->
       <a href=""><span class="material-icons" id="setting">settings</span></a>
       <!-- 마이페이지 프로필 div-->
        <div class="page-name"> 
          <h style=" font-weight:bold;">마이페이지</h><br>
          <a href=""><img src="C:/DreamFunding-FrontRepo/webapp/resources/images/book5.jpg" 
          class="profile-img" width="80px;" height="80px;" style="border-radius:70px;" ></a>
        </div>
    </div>
    
    
        
    


    <!-- 이곳에 페이지 내용 작성 -->
    <main class="section">
      <div class="inner">
        <!--  페이지 내용 작성하는곳 -->
        <div class="wrap2">
           <!--서포터, 크리에이터 탭-->
            <div class="container mt-3" style="border:1px solid red;">
              <br>
              
              <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" >
                  <a class="nav-link active" data-toggle="tab" href="#menu1"><h3 style="font-weight:bold;">서포터</h3></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#menu2"><h3 style="font-weight:bold;">크리에이터</h3></a>
                </li>
              </ul>
            
              <!-- 세부메뉴 -->
              <div class="tab-content" >
                
                <div id="menu1" class="container tab-pane active"  ><br><br>
                  <ul class="detail-menu">
                    <li class="menu--item__one">
                      <a class="link">펀딩한 프로젝트</a>
                    </li>
                    <li class="menu--item__two">
                      <a class="link1">관심있는 프로젝트</a>
                    </li>
                    <li class="menu--item__three">
                      <a class="link2">메시지</a>
                    </li>
                    <li class="bottom__line" >
                    </li><hr class="hrs">
                  </ul>
                  
                </div>
                  
                <div id="menu2" class="container tab-pane fade"><br><br>
                  <ul class="detail-menu">
                    <li class="menu--item__one">
                      <a class="link">프로젝트 만들기</a>
                    </li>
                    <li class="menu--item__two">
                      <a class="link1">제작한 프로젝트</a>
                    </li>
                    <li class="menu--item__three">
                      <a class="link2">메시지</a>
                    </li>
                    <li class="bottom__line">
                    </li><hr class="hrs">
                  </ul>
                </div>
                    
                
                
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </main>

    <footer>
      <div class="footer__inner">
        <div class="footer__center">
          <img src="../../../resources/images/logo3.png" alt="" />
        </div>

        <div class="footer__bottom">
          <div class="footer__left">
            <div class="summary__title">투자위험고지</div>
            <div class="summary__description">
              (주)드림펀딩은 중개업(온라인소액투자중개 및 통신판매중개)을
              영위하는 플랫폼 제공자로 자금을 모집하는 당사자가 아닙니다.<br />
              따라서 투자손실의 위험을 보전하거나 리워드 제공을 보장해 드리지
              않으며 이에 대한 법적인 책임을 지지 않습니다.
            </div>
          </div>
          <div class="footer__right">
            <div class="summary__title">고객센터</div>
            <div class="summary__description">
              OPEN : AM 10 : 10 ~ PM 05 : 30 ( LUNCH AT 12 : 00 ~ 13 : 00 )<br />
              대표전화 : 031 - 8039 - 5569<br />
              주소지 : 경기도 성남시 수정구 대왕판교로 815 기업지원허브 814호<br />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
