<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
    />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- 부트스트랩 css cdn을 추가하면 메뉴바가 깨집니다.. -->
    
    <link rel="stylesheet" href="../../../resources/css/common.css" />
    <link rel="stylesheet" href="../../../resources/css/index/chat.css">
</head>
<body>
    <!-- 문의하기 버튼(sticky) -->
    <div class="sticky"> 
        <!-- 문의하기 폼 -->
        <div style="border: 1px red;" class="qna-form">
          <div class="qna-title">
            <div class="qna-title-detail">
              <button class="btn-sm">이전</button>
              <span>크라우디</span>
              <button>X</button>
            </div>
            <div class="qna-title-time">5시간 뒤 상담이 운영됩니다.</div>
          </div>
          <div class="qna-full">
            <div class="qna-today">
                오늘
            </div>
            <!-- 무엇을 도와드릴까요? -->
            <div class="qna-1">
              <div class="qna-detail">
                <div class="qna-profile">
                  <div class="qna-profile-image" align="center">
                    <span class="material-icons md-48" id="face">face</span>
                  </div>
                  <div class="qna-profile-name">
                      <span>드림펀딩</span>
                      <span class="qna-profile-time">5:00 am</span>
                  </div>
                  <div class="qna-profile-content">안녕하세요. 드림펀딩입니다. <br>무엇을 도와드릴까요?</div>
                </div>
              </div>
            </div>
            <!-- 유저채팅 -->
            <div class="qna-2">
                <div class="qna-detail-user">
                  <div class="qna-profile-user">
                    <div class="qna-profile-image" align="center">
                      <img src="../../../resources/images/heart2.png" width="30px" height="30px">
                    </div>
                    <div class="qna-profile-name">
                        <span>user01</span>
                        <span class="qna-profile-time">5:00 am</span>
                    </div>
                    <div class="qna-profile-content-user">안녕하세요. 문의드리겠습니다. <br>회원가입이 안되네용..왜이러져???</div>
                  </div>
                </div>
              </div>
            <div class="qna-call">
              <div></div>
            </div>
            <div class="qna-bottom">
              <div class="qna-bottom-content">
                <form action="" class="qna-bottom-content-form">
                    <div class="qna-add-btn">
                        <img src="../../../resources/images/plus.png" width="20px" height="20px">
                    </div>
                    <input type="text" name="chatMsg" id="chatMsg" placeholder="메시지를 입력해주세요." class="chat-msg">
                    <button class="chat-btn">send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>